*{
    font-family: Verdana, Tahoma, sans-serif;
    letter-spacing: 1px;
}

body{
    background-color: gray;
}

h1{
    text-align: center;
    background-color: #fff;
    margin: 10px;
    margin-top: 25px;
    border-radius: 25px;
}

table{
    margin: 30px auto;
    margin-top: 50px;
    width: 75%;
    padding: 25px;
    background: #fff;
    text-align: center;
    border-radius: 25px;
}

table.list{
    width: 90%;
    text-align: center;
}

td{
    padding: 5px 10px;
    border: 1px solid #000;
    text-align: left;
}

thead{
    padding: 10px 20px;
    background-color: rgb(200, 200, 200);
}

div{
    margin-left: 70px;
    margin-top: 15px;
}

input[type="text"], input[type="number"]{
    margin:10px;
    width:80%;
    padding:15px 25px;
    border: 1px solid #000;
    border-radius: 10px;
    display: inline-block;
}

input[type="submit"], input[type="reset"]{
    margin:15px 0 10px;
    margin-left: 10px;
    padding:5px 10px;
    background: #eee;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}

input[type="submit"]:hover{
    background: rgb(200, 200, 200);
}

input[type="reset"]:hover{
    background: rgb(200, 200, 200);
}

input.check{
    transform: scale(3);
    margin-left: 25px;
}

button{
    margin:10px 0 10px;
    margin-left: 35px;
    padding:5px 10px;
    text-align: center;
    background: rgb(200, 200, 200);
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

button:hover{
    background:rgb(180, 180, 180);
}